{
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "auto",
  "printWidth": 120,
  "plugins": ["prettier-plugin-organize-imports"]
}
